<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Table: {{ tname }}</title>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/mvp.css" />
    </head>
    <body>
        <header>
            <h1>Table: {{ tname }}</h1>
        </header>
        <main>
            <section>
                <table>
                    <thead>
                        <tr>
                            {% for header in theaders %}
                            <td>{{ header }}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in tdata %}
                        <tr>
                            {% for col in row %}
                            <td>{{ col }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
        <footer><a href="/">Home</a></footer>
    </body>
</html>
